---
// https://biomejs.dev/playground/?code=LQAtAC0ACgBpAG0AcABvAHIAdAAgAHsAIABDAG8AdQBuAHQAZQByACAAfQAgAGYAcgBvAG0AIAAnAEAALwBjAG8AbQBwAG8AbgBlAG4AdABzAC8AYwBvAHUAbgB0AGUAcgAnAAoACgBjAG8AbgBzAHQAIABzAGgAbwB3ACAAPQAgAGYAYQBsAHMAZQAKAC0ALQAtAAoAPABkAGkAdgA%2BAAoAIAAgADwAIQAtAC0AIABlAHgAcABlAGMAdAAgAC0ALQA%2BAAoAIAAgADwAcwBwAGEAbgAgAC8APgAKACAAIAA8AEMAbwB1AG4AdABlAHIAIAAvAD4ACgAKACAAIAA8ACEALQAtACAAZQByAHIAbwByAHMAIAAtAC0APgAKACAAIAA8ACEALQAtACAAMQAuACAAaQBmACAAYgByAGEAYwBlACAAaQBuACAAYgByAGEAYwBlACwAIABnAG8AdAAgAHUAbgBlAHgAcABlAGMAdAAgAGYAbwByAG0AYQB0ACAALQAtAD4ACgAgACAAewBzAGgAbwB3ACAAJgAmADwAQwBvAHUAbgB0AGUAcgAgAHYAYQBsAHUAZQA9AHsAcwBoAG8AdwB9ACAAbwBuAEEAYgBvAHIAdAA9AHsAKAApAD0APgB7AH0AfQAgAG8AbgBDAGwAaQBjAGsAPQB7ACgAKQA9AD4AewB9AH0AIABjAGwAYQBzAHMATgBhAG0AZQA9ACIAZgBsAGUAeAAiAC8APgB9AAoAIAAgADwAIQAtAC0AIAAyAC4AIABuAG8AdAAgAGYAbwByAG0AYQB0ACAALQAtAD4ACgAgACAAewBzAGgAbwB3ACYAJgAgADwAcwBwAGEAbgAvAD4AfQAKADwALwBkAGkAdgA%2BAAoA&language=astro
import { Counter } from '@/components/counter'

const show = false
---
<div>
  <!-- expect -->
  <span />
  <Counter />

  <!-- errors -->
  <!-- 1. if brace in brace, got unexpect format -->
  {show &&<Counter value={show}onAbort={()=>{}}onClick={()=>{}}
  className="flex"/>}
  <!-- 2. not format -->
  {show&& <span/>}
</div>
